* {
    padding: 0;
    margin: 0;
}
body{
	background-color: black;
}
.row div{
	width: 20px;
	height: 20px;
	/*border:1px solid black;*/
	display: inline-block;
}
.brick{
	background-color: blue;
}
.coin{
	background-position: center;
	background-image: url('imgs/coin.gif');
	background-size: 40px;
	background-repeat: no-repeat;
}
.cherry{
	background-position: center;
	background-image: url('imgs/cherry.png');
	background-size: contain;
	background-repeat: no-repeat;
	}
#pacman{
	background-position: center;
	background-image: url('imgs/pacman.gif');
	/*transform: rotate(360deg);*/ /*scaleX(-1);*/
	background-size: 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	opacity:1;
	/*top: 20px;
	left: 20px;*/
	position: absolute;
	/*padding: 0 29px 29px 0;*/
	
}
.empty{

}
#world{
    font-size: 0;
}
#score{
	border: 1px solid white;
	width: 30px;
	height: 30px;
	color: white;
}